<h2 class="card-title">{{name}}</h2>
<div class="country-card">
    <div class="country-desc">
        <p class="capital">
            Capital:{{capital}}</p>
        <p class="population">
            Population:{{ population}}</p>
        <ul class="lang-list">
            {{#each languages}}
            <li class="language">
                Languages:{{this.name}}
            </li>
            {{/each}}
        </ul>
    </div>
    <img class="flag-img" src="{{flag}}" alt="flag"></img>
</div>